.toolbar {
	--gap: 3px;
	--divider-padding: 5px;
	--icon-weight: 350;
	--border-width: 1px;

	display: flex;
	flex-flow: row wrap;
	padding: 6px 8px;
	border: var(--border-width) solid var(--border-color);
	border-radius: 8px;
}

.toolbar-group {
	display: flex;
	flex-flow: row;
	gap: var(--gap);

	&:not(:first-of-type)::before {
		content: "";
		width: 1px;
		margin-inline: var(--divider-padding) calc(var(--divider-padding) - var(--gap));
		background-color: var(--border-color);
		margin: 4px var(--gap) 4px calc(var(--gap) * 2);
	}

	.toolbar-button, .toolbar-select {
		background-color: transparent;
		border: none;
		padding: 2px;
		border-radius: 5px;
		display: flex;
		transition: box-shadow 250ms ease;

		/* TODO: colors */
		&:is(:hover, :focus-visible, .active):not(:has([popover]:hover)) {
			background-color: #80808020;
		}

		&:active:not(:has([popover]:active)),
		&.active:hover:not(:has([popover]:hover)),
		&:focus-visible {
			background-color: #80808030;
		}

		>span {
			font-weight: var(--icon-weight);
		}
	}

	.toolbar-select {
		border: var(--border-width) solid var(--border-color);
		padding: 4px 8px;
		min-width: 10em;

		>[popover] {
			background-color: color-mix(in srgb, var(--bg-0) 75%, transparent 25%);
			backdrop-filter: blur(10px);
		}
	}
}
