.toolbar {
	--gap: 3px;
	--divider-padding: 5px;
	--icon-weight: 250;
	--border-width: 1px;
	--padding: 2px;

	display: flex;
	flex-flow: row wrap;
	padding: 6px 8px;
	border: var(--border-width) solid var(--border-color);
	border-radius: 8px;
}

.toolbar-group {
	display: flex;
	flex-flow: row;
	gap: var(--gap);

	&:not(:first-of-type)::before {
		content: "";
		width: 1px;
		margin-inline: var(--divider-padding) calc(var(--divider-padding) - var(--gap));
		background-color: var(--border-color);
		margin: 4px var(--gap) 4px calc(var(--gap) * 2);
	}


	.toolbar-button,
	.toolbar-select {
		--bg-color: transparent;
		background-color: var(--bg-color);
		border: none;
		padding: var(--padding);
		border-radius: 5px;
		display: flex;
		transition: background-color 250ms ease;
		align-items: center;

		/* TODO: colors */
		&:is(:hover, :focus-visible, .active):not(:has([popover]:hover)) {
			--bg-color: #80808020;
		}

		&:active:not(:has([popover]:active)),
		&.active:hover:not(:has([popover]:hover)),
		&:focus-visible {
			--bg-color: #80808030;
		}
	}

	.toolbar-select:not(.button)>span {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			box-shadow: inset -20px 0 10px -10px var(--bg-color), inset -20px 0 10px -10px var(--bg-0);
			transition: box-shadow 250ms ease;
		}
	}

	.toolbar-button>span {
		font-weight: var(--icon-weight);
	}

	.toolbar-select {
		border: var(--border-width) solid var(--border-color);
		padding: 4px 8px;
		width: 10em;
		font-family: var(--font-inter-sans);

		>[popover] {
			background-color: color-mix(in srgb, var(--bg-0) 75%, transparent 25%);
			backdrop-filter: blur(10px);
		}

		.color-swatch {
			display: block;
			margin: auto;
			width: 1.4em;
			aspect-ratio: 1;
			border-radius: 50%;
		}

		&.highlight-color>span>.color-swatch {
			/* inline in select */
			border-radius: 2px;
			padding: 2px;
			display: grid;

			&::before {
				content: "";
				background-color: var(--fg-0);
				/* https://lucide.dev/icons/type */
				mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWhpZ2hsaWdodGVyIj48cGF0aCBkPSJtOSAxMS02IDZ2M2g5bDMtMyIvPjxwYXRoIGQ9Im0yMiAxMi00LjYgNC42YTIgMiAwIDAgMS0yLjggMGwtNS4yLTUuMmEyIDIgMCAwIDEgMC0yLjhMMTQgNCIvPjwvc3ZnPg==");
				mask-size: contain;
			}
		}

		&.text-color>span>.color-swatch {
			border-radius: 2px;
			box-shadow: inset 0 0 0 100vmax var(--bg-0);
			background-clip: text;
			display: grid;

			&::before {
				content: "";
				background-color: inherit;
				/* https://lucide.dev/icons/highlighter */
				mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXR5cGUiPjxwb2x5bGluZSBwb2ludHM9IjQgNyA0IDQgMjAgNCAyMCA3Ii8+PGxpbmUgeDE9IjkiIHgyPSIxNSIgeTE9IjIwIiB5Mj0iMjAiLz48bGluZSB4MT0iMTIiIHgyPSIxMiIgeTE9IjQiIHkyPSIyMCIvPjwvc3ZnPg==");
				mask-size: contain;
			}
		}
	}

	.toolbar-select.button {
		padding: var(--padding);
		border: none;
		width: auto;
		height: 100%;
		aspect-ratio: 1;
	}

	.color-swatch-grid>[popover]>div {
		grid-template-columns: repeat(16, auto);
	}
}
