.detector-hidden {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
	overflow: hidden;
}

.language-selector {
	color-scheme: dark;
	position: absolute;
	bottom: 10px;
	right: 10px;
	outline: none;
	background-color: var(--bg-1);
	border: var(--border-width) solid var(--border-color);
	padding: var(--padding);
	border-radius: var(--radius);
	font-family: var(--font-inter-sans);

	option {
		/* TODO: weird bug, inter font not loading? */
		font-family: var(--font-inter-sans) Arial, Helvetica, sans-serif;
	}
}

.highlight-overlay {
	position: absolute;
	inset: 0;
	pointer-events: none;
	background-color: color-mix(in srgb, Highlight 40%, transparent 60%);
}

/* CAREFUL MODIFYING LAYOUT: SIZE ADJUSTMENTS MAY MISALIGN VSCODE OVERLAY WIDGETS */
.container {
	--codeblock-padding-top: 10px;
	--codeblock-margin: 0.5em;
	--codeblock-deindent-left: -10px;
	--padding: 6px 8px;
	--border-width: 1px;
	--radius: 4px;

	position: relative;
	padding-top: var(--codeblock-padding-top);
	border-radius: 10px;
	/* TODO: better */
	background-color: #303030;
	margin: var(--codeblock-margin);
	overflow: hidden;

	&>* {
		/* TODO: ideally do this in a way that doesnt block overlays (e.g. intellisense popups) */
		margin: 0 0 -9px var(--codeblock-deindent-left);
	}
}
