.select-button {
	anchor-name: --select;
}

.sub {
	color: #808080;
	font-size: 0.7em;
	margin-left: 2ch;
}

.highlight {
	background-color: #ffff0040;
	border-radius: 2px;
	box-shadow: 0 0 0 0.1em #ffff0040;
}

.popout-scroll-container {
	display: flex;
	flex-flow: column;
	overflow: auto;
	flex: 1 1;
}

.popout-container {
	/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
	position-anchor: --select;
	position-try: most-height flip-block, flip-inline, flip-block flip-inline;
	/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
	position-visibility: anchors-visible;
	border: none;
	border-radius: 5px;
	max-height: 40vh;
	/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
	position-area: bottom span-right;
	flex-flow: column;

	&:popover-open {
		display: flex;
	}

	.right & {
		/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
		position-area: bottom span-left;
	}
}

.select-option {
	padding: 5px;
	flex-shrink: 0;
	text-align: left;

	.right & {
		text-align: right;
	}

	&:hover,
	input[type="radio"]:focus-visible+& {
		background-color: #80808020;
	}

	&:active {
		background-color: #80808040;
	}

	.disabled {
		color: #808080;
	}
}
