.select-button {
	/* anchor-name: --select; */
	display: flex;
	align-items: center;

	>span {
		flex: 1 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		/* reset from <button> styles */
		text-align: left;
	}
}

.sub {
	color: #808080;
	font-size: 0.7em;
}

.highlight {
	background-color: #ffff0040;
	border-radius: 3px;
	box-shadow: 0 0 0 0.3ch #ffff0040;
}

.popout-scroll-container {
	display: flex;
	flex-flow: column;
	overflow: auto;
	flex: 1 1;

	.horizontal & {
		flex-flow: row;
	}
}

.popout-container {
	border: none;
	border-radius: 8px;
	flex-flow: column;
	box-shadow: 1px 2px 15px -5px var(--shadow-color);
	background-color: inherit;
	height: auto;
	inset: unset;
	min-width: inherit;

	&:popover-open {
		display: flex;
	}
}

.select-option, .no-results {
	padding: 6px 10px;
	flex-shrink: 0;
	flex-basis: content;
}

.select-option {
	text-align: inherit;
	display: flex;
	column-gap: 1ch;
	align-items: center;

	.horizontal & {
		flex-flow: column;
		padding: 8px 6px;
	}

	&.disabled {
		color: #808080;
	}

	&:hover,
	input[type="radio"]:focus-visible+& {
		background-color: #80808020;
	}

	&:active, &.selected {
		background-color: #80808040;
	}

	&.selected:hover,
	input[type="radio"]:focus-visible+&.selected {
		background-color: #80808060;
	}
}
