.tabstrip {
	display: flex;
	align-items: stretch;
	background-color: var(--bg--1);
}

.tab,
.expanse {
	--radius: 8px;
	--padding-block: 5px;
	--padding-left: 8px;
	--padding-right: 3px;
	--close-padding: 2px;
	--border-width: 1px;
	--selected-color: var(--bg-0);
	--hover-color: #80808020;
	--active-color: #80808030;
	--transition: 200ms ease;
	--small-transition: 150ms ease;
	--margin: 5px;
	--adjacent-background-color: transparent;

	background: transparent;
	transition: background-color var(--transition);
	/* TODO: fonts should be inherited not set explicitly */
	font-family: var(--font-inter-sans), Arial, Helvetica, sans-serif;
	flex: 1 1;
	flex-basis: 0;
	max-width: 15ch;
	outline: none;
	border: none;
	position: relative;

	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);

	&:not(.expanse, .active-tab)::before {
		content: "";
		position: absolute;
		inset: var(--margin);
		border-radius: calc(var(--radius) - var(--margin) / 2);
		transition: background-color var(--transition);
	}

	&:not(.active-tab):is(:hover, :focus-visible)::before {
		background-color: var(--hover-color);
	}

	&:not(.active-tab):active::before {
		background-color: var(--active-color);
	}

	&.active-tab {
		z-index: -1;
		background-color: var(--selected-color);

		&:first-child::after {
			content: "";
			position: absolute;
			inset: calc(var(--radius) + var(--border-width)) 0 0 0;
			pointer-events: none;
			border-left: var(--border-width) solid var(--border-color);
		}

		&+.tab .tab-border,
		:has(&:last-child)+.expanse .tab-border,
		.tab:has(+&) .tab-border {
			--adjacent-background-color: var(--selected-color);
		}
	}

	&:not(.expanse) {
		margin-right: calc(var(--border-width) * -1);
	}

	&>.tab-border {
		padding-inline: var(--padding-left) var(--padding-right);
		padding-block: var(--padding-block);
		border: var(--border-width) solid var(--border-color);
		display: flex;
		justify-content: space-between;
		align-items: center;
		clip-path: inset(0 round calc(var(--radius) + var(--border-width)) calc(var(--radius) + var(--border-width)) 0 0);
		box-shadow: 0 calc(var(--radius) * 2 + var(--border-width) * 2) 0 calc(var(--border-width) * -1) var(--adjacent-background-color);
		transition: box-shadow var(--transition);

		.name {
			display: inline-block;
			min-width: 0;
			color: var(--fg-4);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		:first-of-type:not(.active-tab)>& {
			border-left: none;
			padding-left: calc(var(--padding-left) + var(--border-width));
		}

		:last-of-type:not(.active-tab)>& {
			border-right: none;
			padding-right: calc(var(--padding-right) + var(--border-width));
		}

		.add-tab {
			background: transparent;
			border: none;
		}

		.close-icon, .add-tab {
			flex: 0 0;
			flex-basis: content;
			padding: 1px;
			margin: var(--close-padding);
			margin-right: calc(var(--close-padding) + var(--margin) - var(--padding-right));
			border-radius: calc(var(--radius) - (var(--close-padding) + var(--margin)) / 2);
			/* force inline to act like block */
			display: flex;
			color: var(--fg-4);
			transition:
				background-color var(--small-transition),
				color var(--small-transition);

			&:is(:hover, :focus-visible) {
				background-color: var(--hover-color);
				color: var(--fg-3);
				/* TODO: review */

				span {
					font-weight: 500;
				}
			}
		}

		:not(.active-tab)>& {
			border-top: none;
			padding-top: calc(var(--padding-block) + var(--border-width));
		}

		.active-tab>& {
			border-bottom: none;
			padding-bottom: calc(var(--padding-block) + var(--border-width));
			border-top-left-radius: var(--radius);
			border-top-right-radius: var(--radius);
			clip-path: inset(0 round 0 0 calc(var(--radius) + var(--border-width)) calc(var(--radius) + var(--border-width)));
		}

		.active-tab+.tab>&,
		:has(>.active-tab:last-child)+.expanse>& {
			border-bottom-left-radius: var(--radius);
		}

		:is(.tab, .expanse):has(+.active-tab)>& {
			border-bottom-right-radius: var(--radius);
		}
	}
}

.tab-rename-field {
	background-color: transparent;
	border: none;
	outline: none;
	font: inherit;
}

.add-tab {
	display: flex;
}

.expanse {
	flex: 1 0;
	flex-basis: content;
	max-width: none;

	.tab-border {
		padding-left: var(--padding-block);
		height: 100%;
	}
}
