.tabstrip {
	display: flex;
	align-items: stretch;
	background-color: var(--bg--1);
}

.tab,
.expanse {
	--radius: 8px;
	--padding-block: 5px;
	--padding-left: 11px;
	--padding-right: 2px;
	--button-padding: 2px;
	--border-width: 1px;
	--selected-color: var(--bg-0);
	--hover-color: #80808020;
	--active-color: #80808030;
	--transition: 200ms ease;
	--small-transition: 150ms ease;
	--margin: 5px;
	--adjacent-background-color: transparent;
	--shadow-blur: 10px;
	--shadow-spread: 0px;
	--shadow-shift-x: 1px;
	--shadow-shift-y: 2px;
	--tab-name-font-size: 0.88em;

	background: transparent;
	transition: background-color var(--transition);
	/* TODO: fonts should be inherited not set explicitly */
	font-family: var(--font-inter-sans), Arial, Helvetica, sans-serif;
	flex: 1 1;
	flex-basis: 0;
	max-width: 20ch;
	outline: none;
	border: none;
	position: relative;

	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);

	&:not(.expanse, .active-tab)::before {
		content: "";
		position: absolute;
		inset: var(--margin);
		border-radius: calc(var(--radius) - var(--margin) / 2);
		transition: background-color var(--transition);
	}

	&:not(.active-tab):is(:hover, :focus-visible)::before {
		background-color: var(--hover-color);
	}

	&:not(.active-tab):active::before {
		background-color: var(--active-color);
	}

	&.active-tab {
		z-index: -1;
		background-color: var(--selected-color);

		&::before {
			content: '';
			position: absolute;
			pointer-events: none;
			inset: 0;
			border-radius: inherit;
			box-shadow: var(--shadow-shift-x) var(--shadow-shift-y) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
			transition: box-shadow var(--transition);
			clip-path: inset(calc(-1 * var(--shadow-spread) - var(--shadow-blur)) calc(-1 * var(--shadow-spread) - var(--shadow-blur)) 0 calc(-1 * var(--shadow-spread) - var(--shadow-blur)));
		}

		&:first-child::after {
			content: "";
			position: absolute;
			inset: calc(var(--radius) + var(--border-width)) 0 0 0;
			pointer-events: none;
			border-left: var(--border-width) solid var(--border-color);
		}

		&+.tab .tab-border,
		:has(&:last-child)+.expanse .tab-border,
		.tab:has(+&) .tab-border {
			--adjacent-background-color: var(--selected-color);
		}
	}

	&:not(.expanse) {
		margin-right: calc(var(--border-width) * -1);
	}

	>.tab-border {
		padding-inline: var(--padding-left) var(--padding-right);
		padding-block: var(--padding-block);
		border: var(--border-width) solid var(--border-color);
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		clip-path: inset(0 round calc(var(--radius) + var(--border-width)) calc(var(--radius) + var(--border-width)) 0 0);
		box-shadow: 0 calc(var(--radius) * 2 + var(--border-width) * 2) 0 calc(var(--border-width) * -1) var(--adjacent-background-color);
		transition: box-shadow var(--transition);
		text-align: left;

		.name {
			color: var(--fg-4);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.close-icon,
		.add-tab,
		.upload-file,
		.expander~button {
			flex: 0 0;
			flex-basis: content;
			padding: 1px;
			margin: var(--button-padding);
			border-radius: calc(var(--radius) - (var(--button-padding) + var(--margin)) / 2);
			color: var(--fg-4);
			aspect-ratio: 1;
			transition: background-color var(--small-transition),
			color var(--small-transition);
			
			svg {
				padding: 2px;
			}


			&:active {
				background-color: var(--active-color);
			}

			&:is(:hover, :focus-visible) {
				background-color: var(--hover-color);
				color: var(--fg-3);

				&>* {
					font-weight: 500;
				}
			}
		}

		.close-icon,
		.add-tab,
		.upload-file,
		.expander~button {
			background: transparent;
			border: none;
		}

		.close-icon {
			margin-right: calc(var(--button-padding) + var(--margin) - var(--padding-right));
		}
	}

	&:not(.active-tab)>.tab-border {
		border-top: none;
		padding-top: calc(var(--padding-block) + var(--border-width));

		/* intentional pseudoelement to avoid exit transition */
		&::before {
			content: '';
			pointer-events: none;
			position: absolute;
			inset: 0;
			/* CANNOT USE border-radius: firefox bug */
			/* border-radius: inherit; */
			box-shadow: inset 0 calc(var(--shadow-shift-y) - var(--shadow-spread) - 9999px) var(--shadow-blur) -9999px var(--shadow-color);
			/* but we still want for enter transition */
			transition: box-shadow var(--transition);
			clip-path: inset(0);
		}
	}

	&:first-of-type:not(.active-tab)>.tab-border {
		border-left: none;
		padding-left: calc(var(--padding-left) + var(--border-width));
	}

	&:last-of-type:not(.active-tab)>.tab-border {
		border-right: none;
		padding-right: calc(var(--padding-right) + var(--border-width));
	}

	&.active-tab>.tab-border {
		border-bottom: none;
		padding-bottom: calc(var(--padding-block) + var(--border-width));
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		clip-path: inset(0 round 0 0 calc(var(--radius) + var(--border-width)) calc(var(--radius) + var(--border-width)));
	}

	&.active-tab+.tab>.tab-border,
	:has(> &.active-tab:last-child)+.expanse>.tab-border {
		border-bottom-left-radius: var(--radius);

		&::before {
			clip-path: inset(0 round 0 0 0 var(--radius));
		}
	}

	:is(.tab, .expanse):has(+&.active-tab)>.tab-border {
		border-bottom-right-radius: var(--radius);

		&::before {
			clip-path: inset(0 round 0 0 var(--radius) 0);
		}
	}
}

.expander {
	flex: 1 1;
}

.tab-rename-field, .name {
	background-color: transparent;
	border: none;
	outline: none;
	display: inline-block;
	min-width: 0;
	flex: 1 1;
	font: inherit;
	font-size: var(--tab-name-font-size);
	
	.locked-tab & {
		font-style: italic;
	}
}

.expanse {
	flex: 1 0;
	flex-basis: content;
	max-width: none;

	.tab-border {
		padding-left: var(--padding-block);
		height: 100%;
		justify-content: flex-start;
		gap: var(--button-padding);
	}
}
