.tabstrip {
	display: flex;
	align-items: stretch;
}

.tab,
.expanse {
	--radius: 6px;
	--padding-block: 5px;
	--padding-left: 8px;
	--padding-right: 3px;
	--close-padding: 3px;
	--border-width: 1px;
	--hover-color: var(--bg-1);
	--active-color: #80808030;
	--margin: 5px;

	background: transparent;
	/* TODO: fonts should be inherited not set explicitly */
	font-family: var(--font-inter-sans), Arial, Helvetica, sans-serif;
	flex: 1 1;
	flex-basis: 0;
	max-width: 15ch;
	outline: none;
	border: none;
	position: relative;

	span {
		color: var(--fg-4);
	}

	&:not(.expanse, .active-tab)::before {
		content: "";
		position: absolute;
		inset: var(--margin);
		border-radius: calc(var(--radius) - var(--margin) * .3);
	}

	&:not(.active-tab):is(:hover, :focus-visible)::before {
		background-color: var(--hover-color);
	}

	&:not(.active-tab):active::before {
		background-color: var(--active-color);
	}

	&.active-tab {
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		z-index: -1;
		background-color: var(--bg-0);

		&:first-child::after {
			content: "";
			position: absolute;
			inset: calc(var(--radius) + var(--border-width)) 0 0 0;
			pointer-events: none;
			border-left: var(--border-width) solid var(--border-color-0);
		}

		&+.tab .tab-border,
		:has(&:last-child)+.expanse .tab-border {
			box-shadow:
				var(--border-width) calc(var(--radius) * 2 + var(--border-width) * 2) 0 0 var(--bg-0);
		}

		.tab:has(+&) .tab-border {
			box-shadow:
				calc(var(--border-width) * -1) calc(var(--radius) * 2 + var(--border-width) * 2) 0 0 var(--bg-0);
		}
	}

	&:not(.expanse) {
		margin-right: calc(var(--border-width) * -1);
	}

	&>.tab-border {
		padding-inline: var(--padding-left) var(--padding-right);
		padding-block: var(--padding-block);
		border: var(--border-width) solid var(--border-color-0);
		display: flex;
		justify-content: space-between;
		align-items: center;
		clip-path: inset(0 round calc(var(--radius) + var(--border-width)) calc(var(--radius) + var(--border-width)) 0 0);

		.name {
			display: inline-block;
			min-width: 0;
			flex-basis: 0;
			flex-shrink: 1;
		}

		:first-of-type:not(.active-tab)>& {
			border-left: none;
			padding-left: calc(var(--padding-left) + var(--border-width));
		}

		:last-of-type:not(.active-tab)>& {
			border-right: none;
			padding-right: calc(var(--padding-right) + var(--border-width));
		}

		.add-tab {
			background: transparent;
			border: none;
		}

		.close-icon,
		.add-tab {
			flex: 0 0;
			flex-basis: content;
			padding: var(--close-padding);
			border-radius: calc(var(--radius) - var(--margin) * .3);
			/* force inline to act like block */
			display: flex;

			&:is(:hover, :focus-visible) span {
				border-radius: calc(var(--radius) - var(--margin) * .5);
				font-weight: 500;
				background-color: var(--hover-color);
			}
		}


		:not(.active-tab)>& {
			border-top: none;
			padding-top: calc(var(--padding-block) + var(--border-width));
		}

		.active-tab>& {
			border-bottom: none;
			padding-bottom: calc(var(--padding-block) + var(--border-width));
			border-top-left-radius: var(--radius);
			border-top-right-radius: var(--radius);
			clip-path: inset(0 round 0 0 calc(var(--radius) + var(--border-width)) calc(var(--radius) + var(--border-width)));
		}

		.active-tab+.tab>&,
		:has(>.active-tab:last-child)+.expanse>& {
			border-bottom-left-radius: var(--radius);
		}

		:is(.tab, .expanse):has(+.active-tab)>& {
			border-bottom-right-radius: var(--radius);
		}
	}
}

.add-tab {
	display: flex;
}

.expanse {
	flex: 1 0;
	flex-basis: content;
	max-width: none;

	.tab-border {
		padding-left: var(--padding-block);
		height: 100%;
	}
}