.tabstrip {
	display: flex;
}

.tab {
	--radius: 10px;
	--padding-block: 5px;
	--padding-inline: 8px 3px;
	--close-padding: 3px;
	--border-width: 2px;
	--border-color: #303030;
	--hover-color: #80808020;
	--active-color: #80808030;
	--selected-color: #80808010;
	--margin: 5px;
	--transition: 250ms ease;

	background: transparent;
	/* TODO: fonts should be inherited not set explicitly */
	font-family: var(--font-inter-sans), Arial, Helvetica, sans-serif;
	flex: 1 1;
	flex-basis: 0;
	max-width: 15ch;
	outline: none;
	border: none;
	position: relative;

	&:not(.active-tab, :has(.close-icon:hover))::before {
		content: "";
		position: absolute;
		inset: var(--margin);
		border-radius: calc(var(--radius) - var(--margin));
		transition: background-color var(--transition);
	}

	&:not(.active-tab, :has(.close-icon:hover)):is(:hover, :focus-visible)::before {
		background-color: var(--hover-color);
	}

	&:not(.active-tab, :has(.close-icon:hover)):active::before {
		background-color: var(--active-color);
	}

	&.active-tab {
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		z-index: -1;
		background-color: var(--selected-color);

		&+.tab .tab-border {
			box-shadow:
				var(--border-width) calc(var(--radius) * 2 + var(--border-width) * 2) 0 0 var(--selected-color);
		}

		.tab:has(+&) .tab-border {
			box-shadow:
				calc(var(--border-width) * -1) calc(var(--radius) * 2 + var(--border-width) * 2) 0 0 var(--selected-color);
		}
	}

	&:not(:last-of-type) {
		margin-right: calc(var(--border-width) * -1);
	}

	&>.tab-border {
		padding-inline: var(--padding-inline);
		padding-block: var(--padding-block);
		border: var(--border-width) solid var(--border-color);
		display: flex;
		justify-content: space-between;
		align-items: center;
		clip-path: inset(0 round calc(var(--radius) + var(--border-width)) calc(var(--radius) + var(--border-width)) 0 0);

		.name {
			display: inline-block;
			min-width: 0;
			flex-basis: 0;
			flex-shrink: 1;
		}

		.close-icon {
			flex: 0 0;
			flex-basis: content;
			font-size: 1.5em;
			padding: var(--close-padding);
			border-radius: calc(var(--radius) - var(--margin));
			/* force inline to act like block */
			display: flex;

			&:is(:hover, :focus-visible) {
				background-color: var(--hover-color);
			}

			&>* {
				font-size: 1em;
			}
		}

		:not(.active-tab)>& {
			border-top: none;
			padding-top: calc(var(--padding-block) + var(--border-width));
		}

		.active-tab>& {
			border-bottom: none;
			padding-bottom: calc(var(--padding-block) + var(--border-width));
			border-top-left-radius: var(--radius);
			border-top-right-radius: var(--radius);
			clip-path: inset(0 round 0 0 calc(var(--radius) + var(--border-width)) calc(var(--radius) + var(--border-width)));
		}

		.active-tab+.tab>& {
			border-bottom-left-radius: var(--radius);
		}

		.tab:has(+.active-tab)>& {
			border-bottom-right-radius: var(--radius);
		}
	}
}
