.tiptap {
	font-size: 16px;

	ul,
	ol {
		/* do we need so much padding *and* margin? */
		padding: 0 1em;
		margin: 1.25em 1em 1.25em 0.4em;

		li p {
			/* TODO: is switch to em here intentional? */
			/* also should we not prefer em in most cases over rem */
			margin-block: 0.25em;
		}
	}

	/* Task list specific styles */
	ul[data-type="taskList"] {
		list-style: none;
		margin-left: 0;
		padding: 0;

		li {
			align-items: flex-start;
			display: flex;

			>label {
				margin-top: .25em;
				margin-right: 0.5em;
				user-select: none;
				align-content: center;
			}

			>div {
				flex: 1 1 auto;
			}
		}

		input[type="checkbox"] {
			cursor: pointer;
		}

		ul[data-type="taskList"] {
			margin: 0;
		}
	}

	p {
		margin: .9em 0;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		text-wrap: pretty;
	}
	
	h1 {
		font-size: 1.75em;
		margin: .8em 0;
	}
	
	h2 {
		font-size: 1.625rem;
		margin: .85em 0;
	}
	
	h3 {
		font-size: 1.5rem;
		margin: .9em 0;
	}

	h4 {
		font-size: 1.375em;
		margin: .95em 0;
	}

	h5 {
		font-size: 1.25em;
		margin: 1em 0;
	}

	h6 {
		font-size: 1.125em;
		margin: 1.05em 0;
	}

	a {
		cursor: pointer;
		text-decoration: underline;
		color: light-dark(#1155cc, #99c3ff);

		&:visited {
			color: light-dark(#681da8, #c58af9);
		}
	}

	&>code,
	:not(pre)>code {
		background-color: var(--bg-1);
		border-radius: 0.4em;
		color: var(--fg-0);
		font-size: .9em;
		padding: 0.15em 0.35em;
		align-content: center;
	}

	blockquote {
		border-left: 3px solid var(--border-color);
		border-radius: 3px;
		margin: 1.5em 0;
		padding-left: 1em;
	}

	hr {
		border: none;
		border-top: 1px solid var(--bg-2);
		margin: 2em 0;
	}

	mark[data-color] {
		border-radius: 0.2ch;
		box-shadow: 0 0 0.1ch 0.1ch var(--tiptap-highlight-color);
	}

	/* body[class*=dark-mode] & {
		span[style^=color] {
			filter: invert(1) hue-rotate(180deg);
		}
	} */

	/* Table-specific styling */
	// pulled from https://tiptap.dev/docs/editor/extensions/nodes/table
	table {
		border-collapse: collapse;
		margin: 0;
		overflow: hidden;
		table-layout: fixed;
		width: 100%;

		td,
		th {
			border: 1px solid var(--border-color);
			box-sizing: border-box;
			min-width: 1em;
			padding: 6px 8px;
			position: relative;
			vertical-align: top;

			>* {
				margin: 0;
			}
		}

		th {
			background-color: var(--bg-1);
			font-weight: bold;
			text-align: left;
		}

		.selectedCell:after {
			content: "";
			background: color-mix(in srgb, Highlight 40%, transparent 60%);
			position: absolute;
			inset: 0;
			z-index: 2;
			pointer-events: none;
		}

		.column-resize-handle {
			background-color: var(--border-color-2);
			bottom: -2px;
			pointer-events: none;
			position: absolute;
			right: -1px; 
			top: 0;
			width: 4px;
		}
	}

	.tableWrapper {
		margin: 1.5rem 0;
		overflow-x: auto;
	}

	&.resize-cursor {
		cursor: ew-resize;
		cursor: col-resize;
	}

	img {
		max-width: 100%;
	}

	section {
		padding: 50px;
		max-width: 800px;
		margin-inline: auto;
		margin-block: 10px;
		background-color: var(--bg-1);
		border: 1px solid var(--border-color);
		box-shadow: 2px 4px 10px var(--shadow-color);

		&:has(>p:only-child>:is(img, .node-blob-image):first-child+img+br) {
			padding: 0;

			p {
				margin: 0;
			}

			[class^="ProseMirror"] {
				display: none !important;
			}

			img {
				width: 100%;
				display: block;
			}
		}
	}

	.monaco-container section, section section {
		all: revert;
	}
}
