.page {
	display: flex;
	flex-flow: column;
	height: 100lvh;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.tabstrip {
	z-index: 1;
	backdrop-filter: blur(10px);
	padding-top: 6px;
	flex-shrink: 0;
}

.content-row {
	flex-grow: 1;
	display: flex;
}

.editor-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
	position: relative;

	&::before {
		content: '';
		position: sticky;
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		box-shadow: 0 0 12px 24px var(--bg-0);
		z-index: 1;
	}
}

.toolbar {
	position: sticky;
	inset: 0;
	top: 12px;
	bottom: unset;
	flex-shrink: 0;
	background-color: color-mix(in srgb, var(--bg-0) 50%, transparent 50%);
	margin-inline: 12px;
	box-shadow: 1px 2px 10px -2px var(--shadow-color);
	z-index: 2;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		backdrop-filter: blur(10px);
		z-index: -1;
	}
}

.editor {
	flex-grow: 1;
	/* force full size */
	display: grid;

	&>* {
		/* contenteditable area */
		padding: 50px;
		outline: none;
		min-height: fit-content;
	}
}

.sidebar {
	.right {
		order: 1;
	}
}

.statsWidget {
	position: absolute;
	margin: 12px;
	bottom: 0; right: 0;
	display: flex;
	border-radius: .4em;
	padding: 6px 12px;
	border: 1px solid var(--border-color);
	background-color: color-mix(in srgb, var(--bg-0) 50%, transparent 50%);
	box-shadow: 1px 2px 10px -2px var(--shadow-color);

	p {
		display: flex;
		font-size: .9em;

		&:not(:first-of-type)::before {
			content: "";
			display: inline-block;
			width: 1px;
			margin: 0 12px;
			background-color: var(--border-color);
		}
	}
}