html, body {
	overflow: hidden;
}

:root * {
	min-width: 0;
	min-height: 0;
}

.page {
	display: flex;
	flex-flow: column;
	height: 100lvh;
}

.main {
	display: flex;
}

.editor-container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.tabstrip {
	z-index: 1;
	backdrop-filter: blur(10px);
	padding-top: 6px;
	flex-shrink: 0;
}

.toolbar {
	z-index: 1;
	backdrop-filter: blur(10px);
	flex-shrink: 0;
}

.editor {
	/* TODO: we have capability of allowing scroll content underneath navs if wanted (e.g for translucent/blurred nav overlays) */
	display: flex;
	flex-direction: column;
	overflow: auto;

	&>* {
		/* contenteditable area */
		padding: 50px;
		grid-row: editor;
		outline: none;
		min-height: fit-content;
	}
}
