html, body {
	overflow: hidden;
}

:root * {
	min-width: 0;
	min-height: 0;
}

.page {
	display: flex;
	flex-flow: column;
	height: 100lvh;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}


.tabstrip {
	z-index: 1;
	backdrop-filter: blur(10px);
	padding-top: 6px;
	flex-shrink: 0;
}

.content-row {
	flex-grow: 1;
	display: flex;
}

.editor-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.toolbar {
	position: sticky;
	inset: 0;
	bottom: unset;
	flex-shrink: 0;
	z-index: 1;
	backdrop-filter: blur(10px);
}

.editor {
	flex-grow: 1;
	/* force full size */
	display: grid;

	&>* {
		/* contenteditable area */
		padding: 50px;
		outline: none;
		min-height: fit-content;
	}
}

.sidebar {
	.right {
		order: 1;
	}
}
